@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;700&display=swap');

body {
    font-family: 'Montserrat';
    font-weight: 500;
    margin: 0;
    padding: 0;
}

h1{
    color: #000000;
    font-size: 3rem;
}

html {
    margin: 0;
    padding: 0;
}

a{
    color: #000000;
    text-decoration: none;
}

.header-button a {
    text-decoration: none;
    color: #010101;
    padding: 15px;
    font-size: 1rem;
}

.active-page {
    background: -webkit-linear-gradient(left, #682bd7, #5f1ed8, #530cd8);
    border-radius: 0.5rem;
}

.active-page a {
    color: #e6ddd6;
}

.header-button img {
    height: 100%;
    padding: 0;
    margin: 0;
}

.header-button a:hover {
    opacity: 0.5;
    transition: 0.3s;
}

.header-button {
    list-style: none;
    padding: 15px 10px;
}

nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 0;
    margin: 10px;
}

header {
    width: 100%;
    padding: 5px 0;
    box-shadow: rgba(77, 77, 85, 0.2) 0px 0px 10px 0px;
}

.change-to-light {
    padding: 0px;
    margin: 0;
}

.wellcome-txt {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 100px 30px;
    position: relative;
    max-height: 100%;
    background: -webkit-linear-gradient(left, #42309b, #552ca3, #3a0e8b);
}

.wellcome-txt span {
    margin: 15% 0 5%;
}

.dobrodosli {
    font-size: 3rem;
    color: white;
}

h3 {
    background: -webkit-linear-gradient(left, #ca6e04, #ff951c, #ffef08);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.4rem;
}

.wellcome-txt h1,
.wellcome-txt h3 {
    width: 100%;

}

.bounce {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
    position: sticky;
    bottom: 0px;
    margin-top: 80px;
}

@-moz-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

/* Demo Purpose Only*/
.demo {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
}

.demo a {
    font-family: 'Raleway', sans-serif;
    color: #2ecc71;
}

.bounce button {
    border: none;
    background-color: #ffffff00;
}

.e404-page {
    width: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: 'Montserrat';
    margin-top: 20px;
}


.page_404 {
    padding: 40px 0;
    background: #fff;
    font-family: 'Arvo', serif;
}

.page_404 img {
    width: 100%;
}

.four_zero_four_bg {

    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
    margin-top: 10px;
}


.four_zero_four_bg h1 {
    font-size: 2.5rem;
    font-family: 'Montserrat';

}

.four_zero_four_bg h3 {
    font-size: 2rem;
    font-family: 'Montserrat';

}

.link_404 {
    color: #fff !important;
    padding: 10px 20px;
    background: -webkit-linear-gradient(left, #682bd7, #5f1ed8, #530cd8);
    margin: 20px 0;
    display: inline-block;
}

.contant_box_404 {
    margin-top: -50px;
    font-family: 'Montserrat';
}
.four_zero_four_bg h1{
    background: -webkit-linear-gradient(left, #513781, #6331c0, #440db3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 8rem;
    margin: 20px 0;
}
.objave-home{
    width: 60%;
    margin: 0 20%;
    display: flex;
    flex-wrap: wrap;
    height: 800px;
}
.objave-home h1{
    background: -webkit-linear-gradient(left, #e9da0b, #ff951c, #a35700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 50px 0 30px;
    font-size: 4rem;
    width: 100%;
}
.objave-home h3{
    width: 100%;
    margin: 50px 0 100px 20px;
    /* background: -webkit-linear-gradient(left, #444444, #86868b, #515155); */
    background: #aeaeb4;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-weight: 500;
}
footer{
    display: flex;
    height: max-content;
    background-color: #f3bb14c9;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0 0 0;

}
.footer-links{
    /* height: 300px; */
    /* margin-left: 2%; */
    width: 25%;
    min-width: 180px;
    text-align: center;
}
.footer-links ul{
    list-style: none;
    color: #000000;
    margin: 0;
    padding: 0;
}

.footer-links ul li{
    margin: 1.2rem 0;
}

.footer-feedback{
    /* height: 300px; */
    width: 60%;
}
.footer-authors{
    height: 2rem;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    padding: 0.7rem 0 0 0;
    background-color: #faa717b6;
    color: #5f3a8fd2;
}
.footer-links a{
    color: #562ca3a2;
    font-weight: 700;
}

hr{
    border-color: #562ca383;
    margin-inline-start: 0;
    margin-inline-end: 0;
    border-width: 1px;
    border-style:dashed;
    border-radius: 5px;
    margin-bottom: 10px;
}
@media (max-width:480px){
    footer hr{
        display: none;
    }
}